.login-card {
    display: flex;
    justify-content: center;
}

.form-login {
    width: 400px;
}

.ant-row {
    flex-direction: column;
}

.ant-col {
    text-align: left !important;
}

.ant-form-item-required::before {
    display: none !important;
}