.card-post-feed {
    margin: 0 auto;
    width: 450px;
    padding: 20px 0;
    border-bottom: 0.5px solid #370759;
}

.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-header > span {
    display: flex;
    align-items: center;
    gap: 9px;
    width: 85%;
}

.card-post-feed h4 {
    color: #F0F0F0;
    margin: 0;
    font-size: 13px;
}

.card-post-feed span {
    font-size: 12px;
}

.card-post-feed p {
    font-size: 13.5px;
}

.post-actions {
    display: flex;
    gap: 10px;
}

.post-actions > div {
    padding: 5px 0;
    width: 50px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.post-actions > div svg {
    cursor: pointer;
}

.comment-modal {
    top: 20px;
}

.comment-modal .ant-modal-body {
    height: 63vh;
    overflow-y: auto;
}

.no-comments {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.no-comments p {
    margin: 10px 0;
}

.no-scroll .ant-modal-body {
    overflow-y: hidden !important;
}

.new-comment-container {
    display: grid;
    grid-template-columns: 32px 1fr;
    gap: 10px;
    align-items: center;
    /* 10,59 */
}

.comment-author-name {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.comment-author-name button {
    height: 22px;
    width: 28px;
    padding: 0;
    margin-right: 10px;
} 

.comment-author-name a {
    color: #E1E1E6;
}

.comment-author-name > h4 {
    width: 85%;
}

.submit-comment {
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 10.59px;
    right: 17px;
}

.submit-comment button {
    padding: 4px 10px;
}

.no-posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.no-posts-container p {
    margin: 5px 0;
}