.card-post-feed {
    margin: 0 auto;
    width: 450px;
    padding: 20px 0;
    border-bottom: 0.5px solid #370759;
}

.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-header > span {
    display: flex;
    align-items: center;
    gap: 9px;
    width: 85%;
}

.card-post-feed h4 {
    color: #F0F0F0;
    margin: 0;
    font-size: 13px;
}

.card-post-feed span {
    font-size: 12px;
}

.card-post-feed p {
    font-size: 13.5px;
}

.post-actions {
    display: flex;
    gap: 10px;
}

.post-actions > div {
    padding: 5px 0;
    cursor: pointer;
}

.author-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.new-comment-container {
    display: grid;
    grid-template-columns: 32px 1fr;
    gap: 10px;
    align-items: center;
}

.submit-comment {
    display: inline-block;
    /* width: 40px; */
    margin: 0;
    position: absolute;
    top: 10.59px;
    right: 17px;
}

.submit-comment button {
    padding: 4px 10px;
}