.navbar-container {
    width: 100%;
    height: 55px;
    background-color: #370759;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-container > nav {
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar-container .feed-nav-button {
    padding: 5px 8px;
    color: #F0F0F0;
}

.navbar-container .selected {
    background-color: #290443;
    border-radius: 7px;
}

.navbar-container .ant-input {
    height: 32px;
}