#profile-page .ant-skeleton-paragraph li {
    background-color: #fff;
}

.profile-container {
    display: grid;
    grid-template-columns: 110px 1fr;
    /* align-items: center; */
    gap: 30px;
    padding: 15px 0;
    /* border: 1px solid red; */
}

.profile-grid-current-user {
    grid-template-columns: 110px 1fr 40px !important;
}

.profile-content > h3 {
    font-size: 23px;
}

.profile-content > span {
    font-size: 14px;
    margin-right: 10px;
}

.profile-tags {
    margin: 10px 0;
}

.profile-tags > div {
    margin-top: 10px;
    display: flex;
    gap: 5px;
}

.profile-buttons {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.profile-buttons > button {
    width: 115px;
}

.button-settings {
    width: 30px;
    align-self: baseline;
}

.button-settings svg {
    padding: 5px 0;
    cursor: pointer;
}

.following-button {
    background-color: #3D444D !important;
}

.disabled-button {
    background-color: #3D444D !important;
    color: #fff !important;
    border: none !important;
}