body {
    background-color: #151515;
    color: #F0F0F0;
    position: relative;
    /* margin-top: 55px; */
}

.app {
  
}

.main-container {
    max-width: 450px;
    margin: 0 auto;
    position: relative;
    padding-top: 55px;
    width: 100vw;
    height: 100vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
     /* border: 1px solid red; */
}

p {
    margin: 13.5px 0;
    /* padding: auto; */
}

/* h1,h2,h3,h4,h5,h6,p,#menu li a, #footer-links ul li, span, a, div{
    font-family: "Lato", sans-serif;
    color: #2C2C2C;
} */

a{
    /* color: black; */
    text-decoration: none;
}

.ant-form-item-control {
    flex: none !important;
}

.full-page-spin {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 55px);
    width: 100%;
}

.spin-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
}