body {
    background-color: #151515;
    color: #F0F0F0;
}

.app {
  
}

.main-container {
    max-width: 550px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
     /* border: 1px solid red; */
}

p {
    margin: 13.5px 0;
    /* padding: auto; */
}

/* h1,h2,h3,h4,h5,h6,p,#menu li a, #footer-links ul li, span, a, div{
    font-family: "Lato", sans-serif;
    color: #2C2C2C;
} */

a{
    /* color: black; */
    text-decoration: none;
}

.body {
    position: relative;
}
/* 
.ant-input,
.ant-input-affix-wrapper,
.ant-input-affix-wrapper * {
    background-color: #222222 !important;
    color: #F0F0F0;
    outline: 0;
}

.ant-input,
.ant-input-affix-wrapper {
    padding: 8px 10px;
}

.ant-input-outlined:focus {
    border-color: #BCACC7 !important;
} */




/* .ant-input:focus,
.ant-input:hover,
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper:hover {
    outline: none;
    border-color: #fb1;
    background: white;
    box-shadow: 0 0 0 3px #fea;
} */

.ant-form-item-control {
    flex: none !important;
}